:root{
    --primarayBgColor:hsla(0, 0%, 0%, 0.50);
    --secondaryBgColor: rgba(255, 255, 0,0.45);
    --primarayFontColor:white;
    --secondaryFontColor:rgba(31, 31, 31, 0.863);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.formControl{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    padding: 0;
}
.form--installation{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 7px;
    margin-bottom: 7px;
   
}
.form--installation label{
    text-align: center;
}
.form--installation div{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom:7px;}
#hero-slider .slick-active .slider-text {
    animation: fadeInUp;
    animation-duration: 2s;
    animation-delay: 4s;
  }
  #hero-slider .slider-text h2 {
    color: var(--primarayFontColor);
    font-size: 3em;
   margin-bottom: 2.3rem;
   text-transform: uppercase !important;
  }
  #hero-slider .slider-text h3 {
   text-transform: capitalize !important;
   font-size: 2.8rem;
   line-height: 1.8em;
  }
  .text-black {
    color: #2f2f47;
  }
  .slider-text h2{
    font-size: 1.8em;
    font-weight: 500;
  }
  .slider-text h3{
    font-size: 1.1em;
    font-weight: 300;
  }
  .taged-text {
    background-color:var(--primarayBgColor);
    padding: 1.3rem;
  }
  .tagged-color-text{
    color:var(--primarayBgColor);
  }
  .taged-text2{
    background-color:var(--secondaryBgColor);
    padding: 1.3rem;
  }
  #hero-slider {
    color: var(--primarayFontColor);
    position: relative;
  }

  #hero-slider .slider .slide-content{
    width: 60%;
    position: absolute;
    bottom: 100px;
    left: 60px;
  }
  #hero-slider .slider-bg {
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0 1.6em;
  }
  .slider-bg-img {
    max-width: 100%;
    height: 660px;
  }
  #hero-slider .slider1 {
    background-image: url(../img/slide1.png), linear-gradient(rgb(219, 166, 166), rgb(0, 0, 172));
    animation: fadeOut;
      animation-duration: 2s;
  }
  #hero-slider .slider2 {
    background-image: url(../img/slide2.png);
  }
  
  #hero-slider .slick-prev,
  #hero-slider .slick-next {
    width: 44px !important;
    height: 65px !important;
    background-color: rgba(0, 0, 0, 0.35) !important;
    z-index: 10000;
  }
  #hero-slider .slick-prev {
    left: 0 !important;
    /* border-radius: 0 5px 5px 0; */
  }
  #hero-slider .slick-next {
    /* border-radius: 5px 0 0 5px; */
    right: 0 !important;
  }
  .slider-container {
    width: 100%;
    position: relative;
  }
  .slider-container .form-container {
    color:var(--primarayFontColor);
    position: absolute;
    width: 35%;
    top: 50%;
    right: 60px;
    transform: translateY(-50%);
    background-color: var(--primarayBgColor);
    border-radius: 18px;
    gap: 1em;
    padding: 2em 2em;
  }
  .slide-content{
    width: 50% !important;
  }
  #form-slider {
    display: flex;
    flex-direction: column;
    gap: 7px;
    align-items: center;
    justify-content: space-between;
  }
  .slider-container .form-container h1 {
    font-size: 1em;
  }
  .slider-container .form-container input,
  .slider-container .form-container select,
  .slider-container .form-container button {
    width: 100%;
    /* margin-right: 1em;
    padding: 0 1em; */
    outline: 0;
    height: 38px;
    outline: none;
    background-color: #fcfcfc;
    font-size: 15px;
    border-width: 1px;
    border-radius: 6px;
    border: none;
    color: #13438c;
    font-size: 1em;
  }
  .slider-container .form-container input[type=radio]{
    width: 83px;
    height: 25px !important;
    display: block;
    margin: 0 auto;
  }
  .slider-container .form-container select option {
    padding: 0 1em;
    font-size: 0.8em;
    text-transform: uppercase;
  }
  .slider-container .form-container button {
    display: inline-block;
    font-family: "Montserrat", sans-serif;
    /* max-width: 100px;
    min-width: 48px; */
    width: 100% !important;
    background: transparent;
    border: 2px solid hsl(0, 0%, 100%);
    font-weight: 400;
    font-size: 0.7em;
    color: hsl(0, 0%, 100%);
    transition: all 350ms 150ms ease-in-out;
  }
  .slider-container .form-container button:hover {
    border-color: hsl(240, 20%, 23%);
    background-color: hsl(240, 20%, 23%);
  }
  .slider-container .form-container input::placeholder {
    font-size: 0.7em;
    font-weight: 400;
    color: hsl(216, 76%, 31%);
    font-family: "Montserrat", sans-serif;
    text-transform: uppercase;
  }

  /* End section faq 
  @media only screen and (max-width: 400px) {
    body{
      font-size: 9px;
    }
    .slider-container .applez-nous{
      background-image:url(../img/Applez-nous-version-mobile.jpg);
      width:  267px;
      height: 56px;
      top: 1em;
      right:0px;
    }
    .slider-container .form-container h1{
      color: white;
    }
    .slider-container .form-container{
      display: block !important;
      position: relative;
      bottom: 7em;
    }
   
    #hero-slider .slider{
      width: 100vw;
      height: 500px;
    }
    #form-slider  {
      
      flex-direction: column;
      gap: 13px;
    }
    #hero-slider .slick-prev,
  #hero-slider .slick-next {
    width: 31px !important;
    height: 45px !important;
    background-color: rgba(0, 0, 0, 0.35) !important;
    z-index: 10000;
  }
  }
  @media only screen and (max-width: 900px) {
    body{
      font-size:12px !important ;
    }
    .slider-container .applez-nous{
      background-image:url(../img/Applez-nous-version-mobile.jpg);
      width:  328px;
      height: 96px;
      top: 1em;
      right:1.5em;
    }
    .slider-container .form-container{
      display: block !important;
      position: relative;
      bottom: 6.18em;
    }
    .slider-container .form-container h1 {
      font: 0.7em !important;
    }
    #form-slider {
    flex-direction: column;
    gap: 1em;
  }
  } */